
<form ng-submit="submit()" role="form" class="form-horizontal">
	<div class="row">
		&nbsp;
	</div>

	<div class="form-group">
		<label class="control-label col-sm-2" for="partnr">partnr</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="partnr" 
				value="{{part.partnr}}">
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-2" for="description">Description</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="description" 
				value="{{part.description[0].de_DE}}">
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-2" for="note">Note</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="note" 
				value="{{part.note.de_DE}}">
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-primary">Save</button>
		</div>
	</div>
</form>

